<h2>Facturatie</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <h2>Klanten</h2>
      <client-list (select)="selectClient($event)"></client-list>
      <button class="btn btn-primary" (click)="createNewClient()">Nieuwe klant maken</button>
      <button class="btn btn-default" (click)="editSelectedClient()" [class.hidden]="!selectedClient">Klantgegevens bewerken</button>
    </div>
    <div class="col-lg-5" *ngIf="clientEditMode">
      <client-form [client]="selectedClient" (done)="clientEditingDone($event)"></client-form>
    </div>
    <div class="col-lg-3" *ngIf="!clientEditMode">
      <h2>Documenten</h2>
      <document-list [client]="selectedClient"></document-list>
    </div>
    <div class="col-lg-6" *ngIf="!clientEditMode">
      <!--<document [client]="selectedClient"></document>-->
    </div>
  </div>
</div>
